<div class="stockist-content page-width">
{% if section.blocks != blank %}
    {% for block in section.blocks %}
        {% assign modulo = forloop.index | modulo: 8 %}
        {% if modulo == 1 %}
            <div class="slider-content-st row">
        {% endif %}
            <div class="slider-item-st col-md-3 col-sm-4 col-xs-6"><a href="{{ block.settings.stockist_url }}"><img src="{{ block.settings.stockist_image | img_url: 'medium' }}"></a></div>
        {% if modulo == 0 or forloop.index == section.blocks.size %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>
{% schema %}
    {
        "name": "Stockist Slider",
        "class": "stockist-slider",
        "blocks": [
            {
                "type": "image",
                "name": "Stockist Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "stockist_image",
                        "label": "Stockist Image"
                    },
                    {
                        "type": "url",
                        "id": "stockist_url",
                        "label": "Stockist Url"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Stockist Slider"
            }
        ]
        
    }
{% endschema %}