.food_content_home{
    position: relative;
    width: 100%;
}
.food_content_home img {
    width: 100%;
    height: auto;
   
}
@media (max-width: 1500px) {
    .food_content_home img {
        height: 600px;
    }
}
@media (max-width: 1200px) {
    .food_content_home img {
        height: auto;
    }
}
.food_content_home .title_home{
    max-width: 864px;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 170px;
    font-family: Sohne;
    font-size: 162.701px;
    line-height: 93%;
    /* or 151px */
    height: auto;
    text-transform: uppercase;

    color: #F7F3E8;
    
    
}
@media (max-width: 1200px) {
    .food_content_home .title_home{
        font-size: 130px;
    }
}