<div class="page-width">
    {% include 'button-list' text: "said gus", arrow: "arrow_down" %}
</div>
{% section 'feature-row1' %}
{% section 'feature-row2' %}
{% section 'feature-row3' %}
{% comment %} {% section 'feature-row1' %} {% endcomment %}
{% comment %} {% section 'feature-row2' %} {% endcomment %}